<div class="list">
	<div class="beverage">
		Tea
		<button (click) = "onSelectBeverage('Tea')">
			Select
		</button>
	</div>
	<div class="beverage">
		Coffee
		<button (click) = "onSelectBeverage('Coffee')">
			Select
		</button>
	</div>
	<div class="beverage">
		Beer
		<button (click) = "onSelectBeverage('Beer')">
			Select
		</button>
	</div>
	<div class="beverage">
		Milk
		<button (click) = "onSelectBeverage('Milk')">
			Select
		</button>
	</div>
	<div class="beverage">
		Orange Juice
		<button (click) = "onSelectBeverage('Orange Juice')">
			Select
		</button>
	</div>
</div>
